---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};

const items = [
	{
		title: 'Adamnitehq',
		description:
			'testnet',
		icon: 'adamnitehq',
	},
	{
		title: 'Aleo',
		description:
			'testnet',
		icon: 'aleo',
	},
	{
		title: 'Dusk-network',
		description:
			'testnet',
		icon: 'dusk',
	},
	{
		title: 'Exorde',
		description:
			'testnet',
		icon: 'exorde',
	},
	{
		title: 'Inery',
		description:
			'testnet',
		icon: 'inery',
		Link: 'https://genznodes.dev/testnet/inery',
	},
	{
		title: 'Loyal',
		description:
			'testnet',
		icon: 'loyal',
	},
	{
		title: 'Mars',
		description:
			'ares-1',
		icon: 'mars',
	},
	{
		title: 'Near',
		description:
			'stake-wars III',
		icon: 'near',
	},
	{
		title: 'Neutron',
		description:
			'testnet',
		icon: 'neutron',
	},
	{
		title: 'Newrl',
		description:
			'testnet',
		icon: 'newrl',
	},
	{
		title: 'Nulink',
		description:
			'testnet',
		icon: 'nulink',
	},
	{
		title: 'Stratos',
		description:
			'testnet',
		icon: 'stratos',
	},
	{
		title: 'Subspace',
		description:
			'testnet',
		icon: 'subspace',
	},
];
---
<Layout {meta}>
<section class="scroll-mt-16" id="feature3">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<!-- <p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Components</p> -->
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Archive - project 📛
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					participated in a testnet in the past or is no longer running
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />
								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>                          
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>												
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
</Layout>