---
import { Icon } from 'astro-icon';
const items = [
	{
		title: 'Celestia',
		description:
			'mocha',
		icon: 'celestia',
		Link: 'https://genznodes.dev/testnet/celestia',
	},
	{
		title: 'Fleek',
		description:
			'ursa',
		icon: 'fleek',
		Link: 'https://genznodes.dev/testnet/fleek',
	},
	{
		title: 'Gitopia',
		description:
			'testnet',
		icon: 'gitopia',
		Link: 'https://genznodes.dev/testnet/gitopia',
	},
	{
		title: 'Human',
		description:
			'testnet-1',
		icon: 'human',
		Link: 'https://genznodes.dev/testnet/human',
	},
	{
		title: 'Lava',
		description:
			'testnet',
		icon: 'lava',
		Link: 'https://genznodes.dev/testnet/lava',
	},
	{
		title: 'Mun',
		description:
			'testmun',
		icon: 'mun',
		Link: 'https://genznodes.dev/testnet/mun',
	},
	{
		title: 'Nibiru',
		description:
			'testnet',
		icon: 'nibiru',
		Link: 'https://genznodes.dev/testnet/nibiru',
	},
	{
		title: 'Nolus',
		description:
			'nolus-rila',
		icon: 'nolus',
		Link: 'https://genznodes.dev/testnet/nolus',
	},
	{
		title: 'Obol',
		description:
			'bia-testnet',
		icon: 'obol',
		Link: 'https://genznodes.dev/testnet/obol',
	},
	{
		title: 'Power DCloud',
		description:
			'testnet',
		icon: 'power',
		Link: 'https://genznodes.dev/testnet/power-dcloud',
	},
	{
		title: 'Q-blockchain',
		description:
			'testnet',
		icon: 'qblockchain',
		Link: 'https://genznodes.dev/testnet/q',
	},
	{
		title: 'Realio',
		description:
			'testnet',
		icon: 'realio',
		Link: 'https://genznodes.dev/testnet/realio',
	},
	{
		title: 'Sge',
		description:
			'sge-testnet-1',
		icon: 'sge',
		Link: 'https://genznodes.dev/testnet/sge',
	},
	{
		title: 'Taiko',
		description:
			'testnet',
		icon: 'taiko',
		Link: 'https://genznodes.dev/testnet/taiko',
	},
	{
		title: 'Wormholes',
		description:
			'testnet',
		icon: 'wormholes',
		Link: 'https://genznodes.dev/testnet/wormholes',
	},
];
---

<section class="scroll-mt-16" id="testnet">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<!-- <p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Components</p> -->
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					🧪 Testnet - Live 🧪
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					genznodes also supports testnet , devnet and network early launch
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon , Link }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />
								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
							<div class="flex w-full sm:w-auto">
							<a 
								class="btn bg-primary-400 w-full hover:bg-blue-400"
								href={Link}>Get In</a>		
							</div>						
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>